<div class="container">
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="col-12">
        <h4>Character</h4>
      </div>
      <div class="col-6">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" formControlName="name" id="name" class="form-control" placeholder="Name" required ngModel
              [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors, 'is-valid': f.name.valid }">
            <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required!</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea type="text" formControlName="description" id="description" class="form-control"
              placeholder="Description" required ngModel
              [ngClass]="{ 'is-invalid': f.description.touched && f.description.errors, 'is-valid': f.description.valid }">
              </textarea>
            <div *ngIf="f.description.touched && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description is required!</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="buttons-form">
            <button class="btn btn-success" (click)="submit()" type="submit" [disabled]="!registerForm.valid">{{
              editMode ? 'Update': 'Add'}}</button>
            <button class="btn btn-primary" type="button" (click)="clearForm()">Clear</button>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="img-character" type="file">
          <img src="{{imageUrl}}" class="image">
        </div>
        <div class="file-select" id="src-file1">
          <input type="file" name="src-file1" (change)="handleFileInput($event.target.files)" aria-label="Archivo">
        </div>
      </div>
    </div>
  </form>
</div>
