<app-form-character #formCharacter (charactersEvent)="onGetCharacters($event)"></app-form-character>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="search-content">
        <input type="text" class="form-control" (keyup)="searchCharacter($event)" placeholder="Search character">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Description</th>
            <th scope="col">Modified</th>
            <th scope="col">...</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters; let i=index">
            <th scope="row">{{character.name}}</th>
            <td class="w-20">
              <img src="{{character.thumbnail.path +'.' +character.thumbnail.extension}}"
                class="img-fluid img-thumbnail" alt="character">
            </td>
            <td>{{character.description}}</td>
            <td>{{character.modified | date: 'dd/MM/yyyy'}}</td>
            <td><button type="button" (click)="onEditItem(i)"
                class="btn btn-lg btn-primary rounded-circle"><i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
